@charset "UTF-8";
/* CSS Document */

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Quicksand', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.8;
    background: #000;
}

h1 {
    font-family: 'Kanit', sans-serif;
    font-size: 150px;
    font-weight: 900;
    font-style: italic;
    text-transform: uppercase;
    text-shadow: 0 0 30px rgba(0, 0, 0, .5), 2px 2px 5px rgba(0, 0, 0, 0.75);
    color: #fff;
    line-height: .9em;
    margin: 0;
    letter-spacing: 4px;
}

h2 {
    font-family: 'Kanit', sans-serif;
    font-size: 60px;
    font-weight: 900;
    font-style: italic;
    text-transform: uppercase;
    text-shadow: 0 0 5px #000;
    color: #fff;
    line-height: 1.2em;
    margin: 0 0 30px 0;
    letter-spacing: 2px;
    position: relative;
    z-index: 10;
}

h2:after {
    content: " ";
    display: block;
    border: 5px solid #ff5a00;
    position: absolute;
    left: 30px;
    bottom: 10px;
    width: 300px;
    z-index: -1;
}

h3 {
    font-family: 'Kanit', sans-serif;
    font-size: 42px;
    font-weight: 900;
    font-style: italic;
    text-transform: uppercase;
    text-shadow: 0 0 5px #000;
    line-height: 1.2;
    margin: 0 0 30px 0;
    color: #fff;
}

a {
    color: #ff5a00;
    font-weight: 500;
}

a:hover {
    color: #ff5a00;
    text-decoration: none;
}

p {
    margin-bottom: 15px;
}

[href="#main"] {
    position: absolute;
    top: 0;
    right: 100%;
}

[href="#main"]:focus {
    right: auto;
}

/* New Grid
----------------------------------------------------------------------------------------------------------- */
.main-grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 15px;
    grid-template-rows: 85px auto auto auto;
    grid-row-gap: 15px;
    max-width: 1400px;
    margin:0 auto;
}

.start{
    grid-column: 3 / span 8;
    grid-row: 2;
    text-align: center;
    align-self: center;
}

.lead-in{
    grid-column: 4 / span 6;
    grid-row: 3;
    text-align: center;
    align-self: center;
}

/* Grid classes
----------------------------------------------------------------------------------------------------------- */
section {
    background: linear-gradient(135deg, #222 0%, #111 100%);
    overflow: hidden;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
    z-index: 2;
}

.flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.half {
    width: 50%;
}

.third {
    width: 33%;
}

.two-third {
    width: 66%;
}

/* Utility classes
----------------------------------------------------------------------------------------------------------- */
.text-uppercase {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

.lead {
    font-size: 18px;
    letter-spacing: 1px;
    text-shadow: 0 0 8px rgba(0, 0, 0, .5);
    font-weight: 300;
    line-height: 1.4;
    margin-bottom: 20px;
}

.section-title {
    position: absolute;
    z-index: -1;
    font-size: 275px;
    top: -75px;
    left: -50px;
    color: #222222;
    line-height: 1;
    margin: 0;
    padding: 0;
    text-shadow: 2px 2px 15px #151515;
    opacity: .4;
}

.section-title:after {
    display: none;
}

.padding-lg {
    padding: 100px 30px;
}

.padding-md {
    padding: 50px 30px;
}

.padding-lg-top {
    padding-top: 100px;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.columns {
    column-count: 2;
}

.no-webp .retro-willie {
    background: url(../images/willie-retro.jpg) #111;
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 50%;
}

.webp .retro-willie {
    background: url(../images/willie-retro.webp) #111;
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 50%;
}

.polygon {
    float: left;
    shape-outside: polygon(0 0, 445px 0, 510px 400px, 0 400px);
    clip-path: polygon(0 0, 445px 0, 510px 400px, 0 400px);
    height: 400px;
    width: 510px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color:#999;
}

/* Content
----------------------------------------------------------------------------------------------------------- */
.aod {
    color: #FFFFFF;
    white-space: nowrap;
    font-weight: 500;
    text-transform: uppercase;
}

.homeLogo img {
    width: 150px;
    margin-top: 30px;
    text-align: left;
}

.established {
    font-size: 13px;
    position: relative;
    color: #ccc;
    text-transform: uppercase;
}

.established small {
    color: #ccc;
}

.established p:before {
    border-top: 2px dotted #ff5a00;
    position: absolute;
    top: 30px;
    left: 0px;
    width: 43%;
    content: "since";
    text-align: right;

}

.established p:after {
    border-top: 2px dotted #ff5a00;
    position: absolute;
    top: 30px;
    right: 0px;
    width: 43%;
    content: "1995";
    text-align: left;
}

.member-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.member {
    padding: 0;
    width: 23%;
    height: 325px;
    margin: 0 1% 25px 1%;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, .5);
    background-position: left top;
    box-sizing: content-box;
    display: flex;
}

figure {
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    background: linear-gradient(135deg, #007AC2 0%, #f88b33 100%);
    position: relative;
}

.member figure img {
    filter: grayscale();
    mix-blend-mode: multiply;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    transition: all .5s;
}

.member:hover figure img {
    filter: none;
    mix-blend-mode: normal;
    transition: all 1s ease-in;
}

.member figcaption {
    padding: 5px 15px 10px 15px;
    margin: 0;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 90px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.member figcaption h3 {
    transform: rotate(-6deg);
    transform-origin: bottom left;
    margin: 0;
    line-height: 1;
    font-size: 36px;
    transition: all .25s;
}

.member:hover figcaption h3 {
    transform: rotate(0deg);
    transition: all .5s;
}

.member figcaption p {
    margin: 0;
    color: #ff5a00;
    font-weight: 500;
    line-height: 1.4;
}

.member figcaption small {
    display: block;
    color: #999;
    font-weight: 300;
}

/* Footer
----------------------------------------------------------------------------------------------------------- */
footer {
    background: rgba(0, 0, 0, .5);
    font-size: 13px;
    padding: 8px 0;
    color: #ccc;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;
}

footer .container {
    display: flex;
}

.copyright {
    width: 50%;
}

.social {
    width: 50%;
    order: 2;
    text-align: right;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    color: #ff5a00;
    text-decoration: none;
}

footer .social a {
    margin: 0 10px;
}

.icon-social {
    width: 13px;
    height: 13px;
    fill: #fff;
    margin-top: 5px;
}

.icon-social:hover {
    fill: #ff5a00;
}

/* Player styling
----------------------------------------------------------------------------------------------------------- */
.gradient-purple {
    background-image:
        url(../images/pattern-purple.jpg),
        url(../images/ghost-hilltop-gathering-2.jpg),
        linear-gradient(135deg, #3023ae 0%, #c86dd7 100%);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom, center;
}

.gradient-brown {
    background-image:
        url(../images/pattern-grey.jpg),
        url(../images/ghost-hilltop-gathering.jpg),
        linear-gradient(135deg, #c79081 0%, #dfa579 100%);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom, center;
}

.gradient-red {
    background-image:
        url(../images/pattern-grey.jpg),
        url(../images/ghost-hilltop-gathering.jpg),
        linear-gradient(135deg, #ff0000 0%, #860404 100%);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom, center;
}

.gradient-default {
    background-image:
        url(../images/pattern-grey.jpg),
        url(../images/hilltop-gathering-dark.jpg),
        linear-gradient(135deg, #007AC2 0%, #f88b33 100%);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom, center;
    height: 100vh;
}

.aod-gradient-default {
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}


.no-webp .aod-gradient-default {
    background-image:
        url(../images/aod-hilltop-greyscale.jpg),
        linear-gradient(135deg, #007AC2 0%, #f88b33 100%);
}

.webp .aod-gradient-default {
    background-image:
        url(../images/aod-hilltop-greyscale.webp),
        linear-gradient(135deg, #007AC2 0%, #f88b33 100%);
}

/* Animation
----------------------------------------------------------------------------------------------------------- */
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

@-webkit-keyframes slideInUp {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInUp {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.slideInUp {
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
}

/* Responsive
----------------------------------------------------------------------------------------------------------- */
@media only screen and (max-width: 1024px) {
    .main-grid{
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: 100px auto auto auto;
        max-width: 100%;
    }
    .start{
        grid-column: 2 / span 6;
    }
    
    .lead-in{
        grid-column: 2 / span 6;
    }
    h1 {
        font-size: 120px;
        line-height: .9em;
    }

    .no-webp .retro-willie, webp .retro-willie {
        background-position: -400px top;
        background-size: 75%;
    }

    .polygon {
        shape-outside: polygon(0 0, 180px 0, 250px 400px, 0 400px);
        clip-path: polygon(0 0, 180px 0, 250px 400px, 0 400px);
        height: 400px;
        width: 250px;
        justify-content: center;
        text-shadow: 3px 3px 3px #000;
    }
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 100px;
        line-height: .9em;
        text-shadow: 0 0 30px rgba(0, 0, 0, 0), 2px 2px 5px rgba(0, 0, 0, 0.35);
    }

    .member {
        width: 31%;
    }

    .gradient-default {
        background-position: bottom, left;
    }

    .aod-gradient-default {
        background-position: left;
    }

    .padding-lg {
        padding: 75px 30px;
    }

    .section-title {
        font-size: 170px;
        top: -25px;
        left: auto;
        right: 0;
    }

    .no-webp .retro-willie, webp .retro-willie {
        background-position: -400px top;
        background-size: 100%;
    }

    .polygon {
        shape-outside: polygon(0 0, 160px 0, 250px 550px, 0 550px);
        clip-path: polygon(0 0, 160px 0, 250px 550px, 0 550px);
        height: 550px;
    }

}

@media only screen and (max-width: 677px) {
    .main-grid{
        grid-template-columns: 16px 1fr 1fr 1fr 1fr 1fr 1fr 16px;
        grid-column-gap: 8px;
        grid-template-rows: 32px auto auto auto;
    }

    .member {
        width: 48%;
    }

    .no-webp .retro-willie, webp .retro-willie {
        background-position: left top;
        background-size: 100%;
    }

    .polygon {
        display: none;
    }
}

@media only screen and (max-width:479px) {
    body {
        font-size: 15px;
        line-height: 1.6;
    }

    h1 {
        background-image: url(../images/AOD.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top center;
        font-family: 'Quicksand', 'Helvetica Neue', sans-serif;
        font-size: 20px;
        font-weight: 300;
        font-style: normal;
        text-shadow: none;
        margin: 0 16px;
        letter-spacing: 1px;
        padding-top:36%;
    }

    h2 {
        font-size: 50px;
        margin: 0 0 30px 0;
    }

    .section-title {
        font-size: 100px;
        top: -5px;
        left: -5px;
    }

    .lead {
        font-size: 17px;
        letter-spacing: 0px;
    }

    .established p:before {
        width: 34%;
    }

    .established p:after {
        width: 34%;
    }

    .member-grid {
        justify-content: center;
    }

    .member {
        width: 100%;
    }

    .follow{
        padding:75px 30px 108px 30px;
    }

    footer {
        background: rgba(0, 0, 0, .25);
    }

    footer .container {
        display: block;
    }

    footer .copyright {
        text-align: center;
        width:100%;
    }

    footer .social {
        width: 100%;
        text-align: center;
        margin-bottom:8px;
    }

    .icon-social {
        width: 30px;
        height: 30px;
        margin-top: 5px;
    }

    .hidden-xs {
        display: none;
    }

    .gradient-default {
        background-image:
            url(../images/pattern-grey.jpg),
            url(../images/ghost-hilltop-gathering-mobile.jpg),
            linear-gradient(135deg, #007AC2 0%, #f88b33 100%);
        background-position: bottom, center;
    }

    .no-webp .aod-gradient-default {
        background-image:
            url(../images/aod-hilltop-mobile-greyscale.jpg),
            linear-gradient(135deg, #007AC2 0%, #f88b33 100%);
            background-position: center;
    }
    
    .webp .aod-gradient-default {
        background-image:
            url(../images/aod-hilltop-mobile-greyscale.webp),
            linear-gradient(135deg, #007AC2 0%, #f88b33 100%);
            background-position: center;
    }
}